@import "tailwindcss";

/* Custom Horizontal & Vertical Scrollbars for Channel & Category lists */
.custom-scrollbar::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1c1c1c;
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #d97706;
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #f59e0b;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #d97706 #1c1c1c;
}

.drag-scroll-container {
  touch-action: pan-x pan-y;
  -webkit-overflow-scrolling: touch;
}
